[Desktop Entry]
Name=Cfait
Comment=Elegant CalDAV Task Manager
Exec=cfait-gui
Terminal=false
Type=Application
Categories=Office;Utility;
Keywords=todo;caldav;task;
Icon=cfait
StartupWMClass=cfait-gui
