[Desktop Entry]
Name=Fairouille
Comment=Elegant CalDAV Task Manager
Exec=fairouille-gui
Terminal=false
Type=Application
Categories=Office;Utility;
Keywords=todo;caldav;task;
# Icon=fairouille
